APP_NAME=bank_name
APP_ENV=local
APP_KEY=base64:JqwTkZofo2V/Tc5W925pjBSqy2O6FENcVYcrCSPKjqI=
APP_DEBUG=true
APP_URL=gateway_url
WEB_URL=frontend_url/
APP_BANK=bank_name
EMAIL_VERIFICATION_URL=frontend_url/verify/email/
COMPANY_VERIFICATION_URL=frontend_url/company/verify/
PASSWORD_RESET_URL=frontend_url/reset/password/
DIRECTOR_VERIFICATION_URL=frontend_url/verify/director/
QUOTE_GET_URL=frontend_url/dashboard/bidbonds/create/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=database_host
DB_PORT=3306
DB_DATABASE=database_name
DB_USERNAME=database_user
DB_PASSWORD=database_password

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=beanstalkd
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=${APP_NAME}
MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

AFT_USERNAME=user
AFT_APIKEY=key
AFT_ENABLE_SMS=true


INFORMA_URL=https://api.informa.co.ke
INFORMA_KEY=key
INFORMA_PHONE_SEARCH_ACTIVE=true

PASSPORT_ID=id
PASSPORT_SECRET=secret

COMPANY_SERVICE_BASE_URL=company_url
COMPANY_SERVICE_SECRET=accepted_keys

BIDBOND_SERVICE_BASE_URL=bidbond_url
BIDBOND_SERVICE_SECRET=accepted_keys

PAYMENT_SERVICE_BASE_URL=payment_url
PAYMENT_SERVICE_SECRET=accepted_keys

REPORT_SERVICE_BASE_URL=report_url
REPORT_SERVICE_SECRET=accepted_keys

ACCEPTED_KEYS=accepted_keys

PAYMENT_SECRET=payment_secret
MPESA_C2B_VALIDATION_URL=gateway_url/safaricom/c2b/validation/callback/${PAYMENT_SECRET}
MPESA_C2B_CONFIRMATION_URL=gateway_url/safaricom/c2b/confirmation/callback/${PAYMENT_SECRET}
MPESA_TRANSACTION_STATUS_TIMEOUT_URL=gateway_url/safaricom/trx-status/timeout/callback/${PAYMENT_SECRET}
MPESA_TRANSACTION_STATUS_CONFIRMATION_URL=gateway_url/safaricom/trx-status/confirmation/callback/${PAYMENT_SECRET}
MPESA_STK_CALLBACK_URL=gateway_url/safaricom/stk/confirmation/callback/${PAYMENT_SECRET}

SENTRY_LARAVEL_DSN=

ALLOWED_EMAIL_DOMAINS=

JAMII_ACCOUNT_OFFICER_ID=
