APP_NAME="JBid"
APP_ENV=local
APP_KEY=base64:JqwTkZofo2V/Tc5W925pjBSqy2O6FENcVYcrCSPKjqI=
APP_DEBUG=true
APP_URL=http://gateway.masterpiecefusion.com/
EMAIL_VERIFICATION_URL=http://bidbond.masterpiecefusion.com/verify/email/
COMPANY_VERIFICATION_URL=http://bidbond.masterpiecefusion.com/company/verify/
PASSWORD_RESET_URL=http://bidbond.masterpiecefusion.com/reset/password/
DIRECTOR_VERIFICATION_URL=http://bidbond.masterpiecefusion.com/verify/director/
QUOTE_GET_URL=http://bidbond.masterpiecefusion.com/dashboard/bidbonds/create/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jbid_gateway_db
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=beanstalkd
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sparkpost
MAIL_FROM_ADDRESS=info@masterpiecenet.co.ke
MAIL_FROM_NAME=BIDBOND
SPARKPOST_SECRET=d91ac7ad281c6dc50c5564c1b9d805d86091e7b2

AFT_APIKEY=90a90aa97837219d63ebba8ca98c020b4816bdecb0c32a3c0ec40592794e72ba
AFT_USERNAME=knoxapp
AFT_ENABLE_SMS=true
SUPPORT_EMAIL=dev@mpf.co.ke
JWT_SECRET=mBeNTTlcQXyNdB9WdUr0o4mKYXCRhWks

INFORMA_URL=https://api.informa.co.ke
INFORMA_KEY=1AUDO7fZWSg084aAIY90FtHBUqpyKI7R4BRDiub796tJkZtZTuTOfueQRbxoNr2qy
INFORMA_PHONE_SEARCH_ACTIVE=true

PASSPORT_ID=2
PASSPORT_SECRET=Z6VB7P85vQ4ZVy2NhRLKbg6WsSBswFhYLhlS91k1

COMPANY_SERVICE_BASE_URL=http://bidbond.masterpiecefusion.com:83
COMPANY_SERVICE_SECRET=Vlbw0JI6gGndixQHBmuAdb7ryWehVtwG

BIDBOND_SERVICE_BASE_URL=http://bidbond.masterpiecefusion.com:82
BIDBOND_SERVICE_SECRET=FzaFeukfWnqu9APgf59JsCPtB62jAGiN

PAYMENT_SERVICE_BASE_URL=http://bidbond.masterpiecefusion.com:84
PAYMENT_SERVICE_SECRET=ZGvpG7g1U6lkpAIyvNHUGQTRQ1ooKynS

MPESA_C2B_VALIDATION_URL=https://bidbond.masterpiecefusion.com/mpesa/c2b/validation/callback
MPESA_C2B_CONFIRMATION_URL=https://bidbond.masterpiecefusion.com/mpesa/c2b/confirmation/callback

MPESA_TRANSACTION_STATUS_TIMEOUT_URL=https://bidbond.masterpiecefusion.com/mpesa/trx-status/timeout/callback
MPESA_TRANSACTION_STATUS_CONFIRMATION_URL=https://bidbond.masterpiecefusion.com/mpesa/trx-status/confirmation/callback

MPESA_STK_CALLBACK_URL=https://bidbond.masterpiecefusion.com/mpesa/stk/confirmation/callback

ALLOWED_EMAIL_DOMAINS=jamiibank.com,example.com,gmail.com,hotmail.com,mpf.co.ke,jamiibank.co.ke




